<<<<<<< HEAD
<% 

if(message){
    %>
  <h1><%= message %></h1>    
 <%
   }
=======
<% 

if(message){
    %>
  <h1><%= message %></h1>    
 <%
   }
>>>>>>> 05c9d8a0b5f5dec2f8e900d688a51e2b01a70d06
%>